<div class="flex flex-col justify-center items-center">
  <div class="flex flex-row justify-center space-x-8 w-10/12">
    <div class="flex-1">
      <div class="flex">
        <h2 class="text-xl font-bold mb-4">To Do</h2>
      </div>
      <div class="space-y-4">
        <%= render partial: 'task_pool_partials/to_do' %>
      </div>
    </div>
    <div class="flex-1">
      <div class="flex">
        <h2 class="text-xl font-bold mb-4">In Progress</h2>
      </div>
      <div class="space-y-4">
        <%= render partial: 'task_pool_partials/in_progress' %>
      </div>
    </div>
    <div class="flex-1">
      <div class="flex">
        <h2 class="text-xl font-bold mb-4">Done</h2>
      </div>
      <div class="space-y-4">
        <%= render partial: 'task_pool_partials/done' %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'task_pool_partials/add_task' %>
